<h1>Welcome to Health Care Clinic</h1>
<!-- <p>Find me in app/views/welcome/index.html.erb</p> -->
<p> <b> <%= link_to 'All Records', controller: 'records' %> </b> </p>
<p> <b> <%= link_to 'All Appointments', controller: 'appointments' %> </b> </p>