<p> <b> Sorry. There is already an appointment registered at this time</b></p>
<p> <b> Please choose another Date and Time. Thanks</b></p>

<b> <%= link_to 'Back to New Appointment', new_appointment_path %> </b>