<h1>Newly Added Appointment:</h1>

<p>
  <strong>Date:</strong>
  <%= @appointment.Date %>
</p>

<p>
  <strong>Valid:</strong>
  <%= @appointment.Valid %>
</p>

<b> <%= link_to 'Back to All Appointments', appointments_path %> </b>